table
{
	margin-top: 2%;
    border: 1;
    width: 100%;
    border-style: solid;
    border-color: grey;
}
tr
{
    height: 15vh;
}
th
{
    border-style: solid;
    border-color: grey;
}
td
{
    border-style: solid;
    border-color: grey;
	text-align: center;
}
